@model FlashCardApp.Models.Card

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Card</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Term, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Term)
                @Html.ValidationMessageFor(model => model.Term)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Definition, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Definition)
                @Html.ValidationMessageFor(model => model.Definition)
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.DeckId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.DeckId)
                @Html.ValidationMessageFor(model => model.DeckId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ViewCardsFromDeck", "Deck", new { id = Model.DeckId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
